[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.5"
djangorestframework = "==3.10.3"
djangorestframework-simplejwt = "==4.3.0"
djoser = "==2.0.3"
django-filter = "*"
pyjwt = "==1.7.1"

[dev-packages]

[requires]
python_version = "3.8"
